<div class="modal fade" id="streamerSettingsModal" tabindex="-1" aria-labelledby="streamerSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="streamerSettingsModalLabel">Edit Streamer: <span id="modal-streamer-name"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="edit-discord-user-id">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Linked Accounts</h6>
                        <div id="linked-accounts-container"></div>
                    </div>
                    <div class="col-md-6">
                        <h6>Announcement Channels</h6>
                        <select id="edit-channels-select" class="form-select" multiple>
                            <option value="default">Server Default</option>
                            <% channels.forEach(c => { %>
                                <option value="<%= c.id %>">#<%= c.name %></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="mb-3">
                    <label for="edit-custom-message" class="form-label">Custom Announcement Message</label>
                    <textarea id="edit-custom-message" class="form-control" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="edit-avatar-url" class="form-label">Manual Avatar URL</label>
                    <input type="url" id="edit-avatar-url" class="form-control">
                </div>
                <div id="edit-streamer-status"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="remove-streamer-btn">Remove All Subscriptions</button>
                <button type="button" class="btn btn-primary" id="save-streamer-settings">Save Changes</button>
            </div>
        </div>
    </div>
</div>