<!-- dashboard/views/partials/header.ejs -->
<nav class="navbar">
    <a href="/" class="nav-brand">
        <img src="/images/CertiFried.png" alt="Logo">
        <span>CertiFried Announcer</span>
    </a>
    <div class="user-info">
        <% if (user) { %>
            <span class="user-details">
                Signed in as <strong><%= user.username %>#<%= user.discriminator %></strong>
            </span>
            <a href="/logout" class="btn-logout">Log Out</a>
        <% } %>
    </div>
</nav>