<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="nav-brand" href="/">
            <img src="/images/CertiFried.png" alt="Bot Logo">
            <span>CertiFried Announcer</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <div class="nav-login ms-auto">
                <a href="/src/dashboardoard" class="btn btn-secondary">Dashboard</a>
                <a href="/help" class="btn btn-secondary">Help/Docs</a>
                <% if (user) { %>
                    <a href="/logout" class="btn btn-danger">Log Out</a>
                <% } else { %>
                    <a href="/login" class="btn btn-primary">Login with Discord</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>