<div class="modal fade" id="streamerSettingsModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="/manage/<%= guild.id ;%>/edit-subscription" method="POST">
                <div class="modal-header"><h5 class="modal-title">Edit Settings for <span id="modal-streamer-name"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="subscription_id" id="edit-subscription-id">
                    <h6><i class="fas fa-link fa-fw me-2"></i>Account Linking</h6>
                    <p class="small text-muted">Link accounts to merge announcements and roles.</p>
                    <div class="row mb-3">
                        <div class="col-md-6"><label class="form-label">Linked Discord User ID</label><input type="text" class="form-control" id="edit-discord-user-id" name="discord_user_id"></div>
                        <div class="col-md-6"><label class="form-label">Linked Kick Username</label><input type="text" class="form-control" id="edit-kick-username" name="kick_username"></div>
                    </div>
                    <hr>
                    <h6><i class="fas fa-bullhorn fa-fw me-2"></i>Announcement Customization</h6>
                    <div class="mb-3"><label class="form-label">Announce In Channel</label><select id="edit-channel-override" name="announcement_channel_id" class="form-select">
                            <option value="">-- Use Server Default --</option>
                            <% channels.forEach(c => { %>
                                <option value="<%= c.id ;%>">#<%= c.name ;%></option>
                            <% }); %>
                        </select></div>
                    <div class="mb-3"><label class="form-label">Custom Nickname</label><input type="text" class="form-control" id="edit-override-nickname" name="override_nickname"></div>
                    <div class="mb-3"><label class="form-label">Custom Message</label><textarea class="form-control" id="edit-custom-message" name="custom_message" rows="2"></textarea></div>
                    <div class="mb-3"><label class="form-label">Custom Avatar URL</label><input type="text" class="form-control" id="edit-override-avatar-url" name="override_avatar_url_text" placeholder='URL or "reset"'></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save me-2"></i>Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>