<%- include('partials/header', { user: user }) %>

<div class="container text-center mt-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h1 class="display-1 text-danger">Error</h1>
            <p class="lead"><%= error || 'An unexpected error occurred.' %></p>
            <a href="/" class="btn btn-primary mt-3">Go to Homepage</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>